:root {
  font: 14px system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-family: "alternate-gothic-compressed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

* {
  list-style: none;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  /* border: 2px solid black; */
  display: block;
}
.whiteboard-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

input[type=range] {
  background-color: black;
  border-radius: 10px;
  height: 5px;
  width: 100%;
  margin: 10px 0;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 7px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  -webkit-appearance: none;
  /* background-color: black; */
}



.options-menu {
  content: "";
          display: flex;
          flex-direction: column;
          padding: 0;
          border: none;
          margin-left: 10px;
          top: 8rem;
          left: .5rem;
          position: fixed;
          background-color: transparent;
          cursor: pointer;
          z-index: 200;
          -webkit-user-select: none;
          user-select: none;
}